* {
  margin: 0;
  padding: 0%;
}

.main {
  margin: 20px auto;
  width: 100%;
}

header {
  text-align: center;
  background-color: midnightblue;
  height: 200px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#logo {
  float: none;
  width: 300px;
  height: 100px;
  padding-left: 20px;
  /* 안 쪽 여백 <-> margin: 바깥쪽 여백 */
  line-height: 90px;
  /* 세로 위치 값 */
}

nav {
  float: right;
  height: 100px;
  padding-top: 40px;
}

#topMenu {
  height: 60px;
}

#topMenu>li {
  /* 작동이 잘 안될 때는 중간에 > 넣어서 작성하기도 함 */
  float: right;
  position: relative;
}

#topMenu li a {
  display: block;
  font-size: 1.1em;
  /* =16pt */
  color: rgb(223, 223, 223);
  font-weight: 600;
  padding: 20px 60px;
}

#topMenu li a:hover {
  color: rgb(238, 216, 118);
}